<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="0z3dbOqJrdj0dt8mO5b7kxFBTDYEuSGSPRh0tr0Kxc0" />
    <meta name="google-signin-client_id" content="682781901132-uio1qf7o1vrsougc62ek02lo28fmdgph.apps.googleusercontent.com">
    <title> ERecipe</title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <nav class = "navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav">
     <li class="nav-item">
       <li class="nav-item">
         <a class="nav-link" href="#">Home</a>
       </li>
       <a class="nav-link" href="#">View</a>
     </li>
     <li class="nav-item">
       <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body> 
<div class="container">
  <h2>Upload Recipe</h2>
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Upload Recipe
  </button>
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Upload Recipe</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>       
<div class="modal-body">
<form>
<div class="form-group">
            <label for="Recipe Name">Name:</label>
            <input type="Name" class="form-control" id="Name" placeholder="Enter name of recipe" name="recipe name">
        </div>
        <div class="form-group">
          <label for="ct">Cooking Time:</label>
          <input type="ct input" class="form-control" id="cooking" placeholder="Enter time" name="ct input">
        </div>
        <div class="form-group">
          <label for="pt">Prep Time:</label>
          <input type="pt input" class="form-control" id="prep" placeholder="Enter time" name="pt input">
        </div>
        <div class="form-group">
          <label for="diff">Difficulty:</label>
          <input type="diff" class="form-control" id="difficulty" placeholder="Enter difficulty 1-5"
            name="difficulty">
        </div>
        <div class="form-group">
        <label for="cus">Cuisine:</label>
        <input type="cuisine" class="form-control" id="difficulty" placeholder="Enter cuisine (FR-french)" name="difficulty">
        </div>
        <div class="form-group">
          <label for="pwd">Serving Size:</label>
          <input type="size input" class="form-control" id="size" placeholder="Serving Size" name="size input">
        </div>
        <div class="form-group">
          <label for="pwd">Ingredients:</label>
          <input type="ingredient input" class="form-control" id="ingredients" placeholder="Enter ingredients"
            name="ingredients input">
        </div>
        <div class="form-group">
          <label for="pwd">Procudure:</label>
          <input type="procudure" class="form-control" id="procudure" placeholder="Enter steps"
            name="procudure">
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="remember"> Accept changes</label>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default">Submit</button>
    <button class="btn btn-default" data-dismiss=" modal>Cancel</button>
  </div>
</div>
        </form>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>  
</div>
       <div class="g-signin2" data-onsuccess="onSignIn"></div>
     </li>
   </ul>
  </div>
</div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
    </nav>
  <div id="carousel1" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel1" data-slide-to="0" class="active"></li>
      <li data-target="#carousel1" data-slide-to="1"></li>
      <li data-target="#carousel1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a data-toggle = "modal" role = "button"><img src="delish-lasagna-bolognese-horizontal-1543346979.png" class="d-block w-100" alt="..." width="300" height="600"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Lasagna Bolognese</h5>
          <p>Several layers of goodness</p>
        </div>
      </div>
      <div class="carousel-item">
        <a data-toggle = "modal"><img src="201009-xl-molten-chocolate-cakes-vongerichten.jpg" class="d-block w-100" alt="..." width="300" height="600"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Chocolate Lava Cake</h5>
          <p>Oozing Black Chocolate flows</p>
        </div>
      </div>
      <div class="carousel-item">
        <a data-toggle = "modal"><img src="crispy-chicken-wontons-with-sweet-chilli-sauce-21488-1.jpeg" class="d-block w-100" alt="..." weight="300" height="600"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Chicken Wonton</h5>
          <p>Food of the Chinese Gods</p>
        </div>
      </div>
    </div>
        <div id="carousel3" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel3" data-slide-to="0" class="active"></li>
            <li data-target="#carousel3" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a data-toggle = "modal"><img src="869252.jpg" class="d-block w-100" alt="..." width="300"
                height="600"> </a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Italian</h5>
                <p>Pizza de Pasta</p>
              </div>
            </div>
            <div class="carousel-item">
              <a data-toggle = "modal"><img src="landscape-1506456062-delish-spaghetti-meatballs.jpg" class="d-block w-100" alt="..." width="300"
                height="600"></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Spaghetti and Meatballs</h5>
                <p>That's a spicy meat-a-ball!</p>
              </div>
            </div>
          </div>
      </div>
      <div>
<div id="carousel9" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel9" data-slide-to="0" class="active"></li>
    <li data-target="#carousel9" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
        <div class="carousel-item active">
          <a data-toggle = "modal"><img src="jianfu.jpg" class="d-block w-100" alt="..." width="300"
            height="600"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Chinese</h5>
            <p>Made in China</p>
          </div>
        </div>
        <div class="carousel-item">
          <a data-toggle = "modal"><img src="crispy-chicken-wontons-with-sweet-chilli-sauce-21488-1.jpeg" class="d-block w-100" alt="..." weight="300"
            height="600"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Chicken Wonton</h5>
            <p>Food of the Chinese Gods</p>
          </div>
        </div>
      </div>
    </div>
    <div>
          <div id="carousel4" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel4" data-slide-to="0" class="active"></li>
              <li data-target="#carousel4" data-slide-to="1"></li>
            </ol>
           <div class="carousel-inner">
            <div class="carousel-item active">
            <a data-toggle = "modal"><img src="japan.jpg" class="d-block w-100" alt="..." width="300"
            height="600"></a>
             <div class="carousel-caption d-none d-md-block">
              <h5>Japanese</h5>
              <p> uwu *nibbles* </p>
             </div>
           </div>
           <div class="carousel-item">
            <a data-toggle = "modal"><img src="sushi.jpg" class="d-block w-100" alt="..." width="300" height="600">
            <div class="carousel-caption d-none d-md-block">
             <h5>Sushi</h5></a>
             <p>Raw fish with the occasional grain of rice</p>
           </div>
         </div>
        </div>
    </div>
    <div>
          <div id="carousel5" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel5" data-slide-to="0" class="active"></li>
              <li data-target="#carousel5" data-slide-to="1"></li>
            </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a data-toggle = "modal"><img src="spain.jpg" class="d-block w-100" alt="..." width="300"
            height="600"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Spanish</h5>
            <p>Latin American but on a diet</p>
          </div>
        </div>
        <div class="carousel-item">
          <a data-toggle = "modal"><img src="quesadilla.jpg" class="d-block w-100" alt="..." width="300" height="600"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Quesadilla</h5>
            <p>Crepes, but with filling this time!</p>
          </div>
      </div>
    </div>
    </div>
    <div>
          <div id="carousel6" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel6" data-slide-to="0" class="active"></li>
              <li data-target="#carousel6" data-slide-to="1"></li>
            </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a data-toggle = "modal"><img src="tajmhal.jpg" class="d-block w-100" alt="..." width="300"
            height="600"> </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Indian</h5>
            <p>Got no flavour? Just use spice!</p>
          </div>
        </div>
        <div class="carousel-item">
        <a data-toggle = "modal"> <img src="gj4.jpg" class="d-block w-100" alt="..." width="300" height="600"></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Gulab Jamun</h5>
            <p>Ball is Life</p>
          </div>
        </div>
      </div>
    </div>
</div>
{{!-- Modals --}}
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>